@import '../vars.scss';

.programm {
    padding: 2rem 0;
    background-color: #111;
    .section-title {
        color: $white;
        margin-bottom: 1.5rem;
    }
}

// Slider

.programm_slider {
    /* the slides */
    .slick-slide {
        margin: 0 1rem;
    }
    /* the parent */
    .slick-list {
        margin: 0 1rem;
    }
}

.slider_item-image {
    height: 35vh;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}