@import '../vars.scss';

.nowtv {
    background-color: $white;
    position: relative;
    overflow: hidden;
    padding: 1.5rem 0;
}

.nowtv_title {
    color: $purple;
    white-space: nowrap;
    padding-right: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nowtv_list {
    display: flex;
}

.nowtv_list-item {
    white-space: nowrap;
    font-size: 1.5rem;
    opacity: .5;
    
    &:not(:last-child) {
        margin-right: 2.5rem;
    }

    &--active {
        opacity: 1;
    }
}