@import '../vars.scss';

.nowtv {
    background-color: $white;
    position: relative;
    overflow: hidden;
    padding: 1.5rem 0;
}

.nowtv_title {
    color: $purple;
    white-space: nowrap;
    padding-right: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nowtv_list {
    display: flex;
    -webkit-mask-image: linear-gradient(270deg,transparent 0,#000 25%);
}

.nowtv_list-item {
    white-space: nowrap;
    font-size: 1.5rem;
    opacity: .5;
    
    &:not(:last-child) {
        margin-right: 2.5rem;
    }

    &--active {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) { 
    .nowtv_title {
        padding-right: 1rem;
    }
    .nowtv_list {
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .nowtv_list-item {
        display: inline-block;
    }
}