.main-footer {
    margin: 0 auto;
    padding: 2rem 0 3rem;
    background-color: $white;
    margin-top: 5rem;
}

.main-footer_desc {
    font-weight: bold;
}

@media only screen and (max-width: 768px) { 
    .main-footer {
        .wrapper {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 2rem;
        }
    }
    .main-footer_socials {
        order: 1;
        .socials-list {
            justify-content: flex-start;
        }
    }
    .main-footer_desc {
        order: 2;
    }
    .main-footer_copypaste {
        order: 3;
    }
}