.main-post {
    position: relative;
    border-radius: $mainBorderRadius;
    overflow: hidden;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: inherit;
    &:not(&--important):hover {
        .main-post_title {
            color: $purple;
        }
    }
}

.main-post_desc {
    padding: 2rem;
}

.main-post_image {
    position: relative;
    overflow: hidden;
    min-height: 35vh;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-post_title {
    font-size: 1.5rem;
    transition: all .25s ease-in-out;
}

.main-post_date {
    margin-top: 1rem;
    color: $purple;
    font-style: italic;
    text-align: right;
}


// модификатор, когда блок становится с серенивым фоном
.main-post--important {
    background-color: $purple;
    .main-post_title,
    .main-post_date,
    .main-post_excerpt {
        color: $white;
    }
}

@media only screen and (max-width: 768px) {  
    
}