.page-online {
    margin-top: 0;
    color: $white;
}

.online-tv {
    position: relative;
    z-index: 1;
}

.page-online_news {
    margin-top: 2rem;
    color: $black;
}

.online-tv_player {
    padding-right: 3rem;
    video {
        width: 100%;
        height: 100%;
    }
}

.online-tv_timetable {
    .guide_list-item {
        .item_time,
        .button.detail {
            color: $white;
        }
    }
}

@media only screen and (max-width: 768px) { 
    .page-online {
        .programm {
            justify-content: center;
            flex-direction: row;
        }
    }
    .online-tv_player {
        padding-right: 0;
        margin-bottom: 1rem;
    }
}
