.front-posts {
    margin-top: 2rem;
    .section-title {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) { 
    .front-posts {
        .section-title {
            margin-bottom: 1rem;
        }
    }
}