.programms {
    background-color: #50514d;

    h2{
        color: $white;
    }

    .programm-list_item{
        transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        box-shadow: 0px 0px 0px rgba($black, .4);

        &::before{
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 3;
            display: none;
        }

        &.modal-opened{
            &::before{
                display: block;
                opacity:.5;
            }
        }

        &:hover{
            transform: scale(1.05);
            box-shadow: 3px 3px 10px rgba($black, .4);
        }
    }
    .programm-list_item-desc{
        //display: none;
        overflow: hidden;
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
.programms_list {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 1rem;
}
.programms_wrapper{
    padding-top: 2.5rem;

    &:last-child {
        padding-bottom: 4.5rem;
    }
}

.programms_list{
    margin: auto;
    position: relative;
}

@media only screen and (max-width: 768px) { 
    .programms_list {
        .programm-list_item {
            width: 100%;
        }
    }

    body.page-template-page-programms {
        .programm-list_item,
        .programm-list_item-image {
            height: auto;
            
        }
        .programm-list_item-image {
            img {
                width: 100%;
                position: relative;
                object-fit: inherit;
                height: auto;
            }
        }
    }

}