* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dis-none {
    display: none;
}

button {
    background: none;
    border: none;
    font-size: inherit;
    font-family: "MyriadPro";
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper{
    margin: 0 auto;
} 

a{
    text-decoration: none;
}

@font-face {
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MyriadPro-Regular.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MyriadPro-Bold.woff') format('woff') /* Pretty Modern Browsers */
}

// @font-face {
//     font-family: "MyriadPro";
//     font-style: 500;
//     font-weight: normal;
//     src: url(../fonts/MyriadPro-Semibold.ttf);
// }

html {
    font-size: 18px;
}

body {
    font-family: "MyriadPro";
    font-weight: normal;
    background-color: $greyLight;
}
