* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    font-size: inherit;
    font-family: "MyriadPro";
    cursor: pointer;
}

@font-face {
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/MyriadPro-Regular.ttf);
}

@font-face {
    font-family: "MyriadPro";
    font-style: bold;
    font-weight: normal;
    src: url(../fonts/MyriadPro-Bold.ttf);
}

@font-face {
    font-family: "MyriadPro";
    font-style: 500;
    font-weight: normal;
    src: url(../fonts/MyriadPro-Semibold.ttf);
}

html {
    font-size: 1.1vw;
}

body {
    font-family: "MyriadPro";
    background-color: $greyLight;
}
