.header-burger {
    padding: .5rem 0;
}

.header-burger_icon {
    width: 100%;
    height: 1.65rem;
    background: url(../img/icons/burger.svg) left center no-repeat;
    background-size: contain;
}

.header-mobile_profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    button {
        display: block;
        height: 1.5rem;
        background: url(../img/icons/user-icon.svg) right center no-repeat;
        background-size: contain;
    }
    .user-stat_name {
        color: $purple;
    }
}

.header-mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    transition: all .65s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    clip-path: inset(1rem 1rem 1rem 1rem);
    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        clip-path: inset(0 0 0 0);
    }
    .menu-item {
        a {
            padding: 1rem;
            font-size: 1.5rem;
            justify-content: center;
            &:after {
                left: 0;
            }
        }
    }
    .header-mobile-nav_close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2rem;
        height: 2rem;
        background: url(../img/icons/close.svg) center center no-repeat;
        background-size: contain;
        filter: invert(1);
    }
}